/* SECTION 3 - WHAT I DO? */

.section3 {
  text-align: center;
  background-color: whitesmoke;
  font-family: var(--popins);
}

.divGrid {
  margin: 0 var(--marginLeftRight);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 4%;
}

.divsProject {
  flex-basis: 30%;
  min-width: 300px;
}

section > div > div > i {
  color: var(--colorPrincipal);
  font-size: 3.5em;
  padding-top: 25px;
}

section > div > div > h6 {
  font-size: 1.6em;
  font-weight: 600;
  padding-top: 20px;
}

section > div > div > p {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--colorGris);
  padding-top: 10px;
}

/* TERMINA SECTION 3 - WHAT I DO? */
