/* SECTION 5 - PORTFOLIO */
.section5 {
  padding-top: 60px;
  background-color: whitesmoke;
}

.divPortfolioImages {
  margin: 0 19.5% 0 var(--marginLeftRight);
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-gap: 3%;
  padding-bottom: 100px;
}

.divPortfolioImages img {
  width: 100%;
}

/* TERMINA SECTION 5 - PORTFOLIO */

/* SECTION 7 - FAQ */
/* .section7{
    padding-top: 60px;
} */
/* TERMINA SECTION 7 - FAQ */

/* SECTION 8 - HOW I CAN HELP */

/* .section8{
    background-color: var(--colorGris);
}

.section8 .divTitle .downTitle{
    color: white;
} */

/* TERMINA SECTION 8 - HOW I CAN HELP */

/* SECTION 10 - FOOTER */
footer {
  background-color: var(--colorSecundario);
  display: flex;
  justify-content: space-between;
}

footer > div {
  margin: 80px var(--marginLeftRight);
  color: aliceblue;
}

footer > div > p {
  font-size: 700;
}

footer > div > p > span {
  text-decoration: underline solid var(--colorPrincipal);
  color: var(--colorPrincipal);
}

.sectionIcon,
a {
  padding-top: 50px;
  color: var(--colorPrincipal);
}

/* TERMINA SECTION 10 - FOOTER */
