/* SECTION ABOUT ME */

section > div > p {
  font-size: 1em;
  margin-bottom: 10px;
}

section > div > h3 {
  font-weight: 400;
  margin-bottom: 25px;
}

section > div > h3 > span {
  border-bottom: 3px solid var(--colorPrincipal);
  padding-bottom: 3px;
  font-weight: 700;
}

.sectionAboutMe {
  display: flex;
  flex-direction: row;
  margin: 0 var(--marginLeftRight);
  text-align: justify;
  align-items: center;
}

.sectionBaseline {
  display: flex;
  margin: 0 var(--marginLeftRight);
  text-align: justify;
}

.divAboutMeBaseline {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

section > section > div > p {
  font-weight: 500;
}

.spanEmail {
  text-decoration: underline;
}

section > section > div > span {
  font-weight: 700;
  font-size: 1.2em;
}

.divHi {
  width: 70%;
  font-size: 1.45em;
  font-weight: 400;
}

.divYears {
  width: 30%;
  text-align: center;
}

.number {
  font-size: 8em;
  color: var(--colorGris);
  font-weight: 500;
  margin-bottom: -20px;
}

.hSix {
  font-size: 1.7em;
}

.prueba {
  margin-top: -20px;
}

section > div > h6 > span {
  font-weight: 700;
}

/* FIN SECTION ABOUT ME */

/* SECTION 3 - WHAT I DO? */

.section3 {
  padding-top: 60px;
  text-align: center;
  background-color: whitesmoke;
  font-family: var(--popins);
  padding-bottom: 60px;
}

.divGrid {
  margin: 0 var(--marginLeftRight);
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 4%;
}

.divsProject {
  flex-basis: 30%;
  min-width: 300px;
}

section > div > div > i {
  color: var(--colorPrincipal);
  font-size: 3.5em;
  padding-top: 25px;
}

section > div > div > h6 {
  font-size: 1.6em;
  font-weight: 600;
  padding-top: 20px;
}

section > div > div > p {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--colorGris);
  padding-top: 10px;
}

/* TERMINA SECTION 3 - WHAT I DO? */

/* SECTION 4 - RESUME */
.section4 {
  padding-top: 60px;
}

.contenedorResume {
  margin: 0 var(--marginLeftRight);
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contenedorResume section section div hr {
  border: none;
  border-left: 2px solid var(--colorPrincipal);
  height: 100%;
  padding-right: 15px;
}

.resumeMain {
  display: flex;
}

.myEducationMyExperience {
  width: 50%;
}

.myEducationMyExperience h4 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 25px;
}

.resumeMain section div h5 {
  font-size: 1.34em;
  font-weight: 500;
}

.resumeMain section div h6 {
  font-size: 1.1em;
  padding-top: 5px;
}

.resumeMain section div p {
  padding-top: 10px;
  color: var(--colorGris);
  font-weight: 400;
}

.resumeMain section hr {
  margin: 20px 0px;
  border: 1px outset rgba(255, 255, 255, 0.399);
  width: 90%;
}

.sectionMySkills {
  margin: 0 var(--marginLeftRight);
  font-weight: 600;
}

.sectionMySkills h4 {
  font-size: 2em;
  font-weight: 600;
}

.sectionMySkills section {
  padding-top: 25px;
  display: flex;
}

.sectionMySkills section div {
  width: 50%;
}

.sectionMySkills section div div {
  width: 100%;
  background-color: aliceblue;
  margin-top: 10px;
  border-radius: 10px;
  height: 10px;
  display: flex;
}

.spanSkills {
  background-color: var(--colorPrincipal);
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.barWebDesign .spanSkills {
  width: 65%;
}

.barHtmlCss .spanSkills {
  width: 95%;
}

.barJS .spanSkills {
  width: 80%;
}

.barReact .spanSkills {
  width: 70%;
}

.barAngular .spanSkills {
  width: 60%;
}

.barBootstrap .spanSkills {
  width: 99%;
}

.sectionMySkills section div section {
  justify-content: space-between;
}

.mySkillsDivIzquierdo {
  padding-right: 20px;
}

.mySkillsDivDerecho {
  padding-left: 20px;
}

.divCv {
  margin: 0 var(--marginLeftRight);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.buttonCv {
  background-color: white;
  padding: 12px 40px;
  font-weight: 600;
}

/* TERMINA SECTION 4 - RESUME */

/* SECTION 5 - PORTFOLIO */
.section5 {
  padding-top: 60px;
  background-color: whitesmoke;
}

.divPortfolioImages {
  margin: 0 19.5% 0 var(--marginLeftRight);
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-gap: 3%;
  padding-bottom: 100px;
}

.divPortfolioImages img {
  width: 100%;
}

/* TERMINA SECTION 5 - PORTFOLIO */

/* SECTION 6 - INTERESTED IN WORKING? */

.section6 {
  background-image: url(../images/image1.jpg);
  padding: 40px 0;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section6 div {
  text-align: center;
}

.section6 div h2 {
  font-size: 2em;
  font-weight: 600;
  color: white;
  padding-bottom: 20px;
}

.section6 div button {
  color: var(--colorSecundario);
  background-color: #f4dc4c;
  font-weight: 600;
  font-size: 0.8em;
}

/* TERMINA SECTION 6 - INTERESTED IN WORKING? */

/* SECTION 7 - FAQ */
/* .section7{
    padding-top: 60px;
} */
/* TERMINA SECTION 7 - FAQ */

/* SECTION 8 - HOW I CAN HELP */

/* .section8{
    background-color: var(--colorGris);
}

.section8 .divTitle .downTitle{
    color: white;
} */

/* TERMINA SECTION 8 - HOW I CAN HELP */

/* SECTION 9 - FORM */
.section9 {
  background-color: var(--colorPrincipal);
}

.containerDivForm {
  margin: 0 var(--marginLeftRight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 0;
}

.divIzquierdoForm {
  width: 50%;
}

.divDerechoForm {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section9 .containerDivForm div h2 {
  font-size: 2.2em;
  font-weight: 600;
  padding-bottom: 30px;
}

.section9 .containerDivForm div p {
  width: 70%;
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 20px;
}

.section9 .containerDivForm div h6 {
  font-size: 1.2em;
  font-weight: 700;
}

.section9 .containerDivForm div h5 {
  padding-bottom: 20px;
  font-weight: 400;
}

.section9 .containerDivForm div input {
  background-color: var(--colorPrincipal);
  border: none;
  border-bottom: 1px outset rgba(255, 255, 255, 0.399);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.section9 .containerDivForm div button {
  background-color: var(--colorSecundario);
  color: white;
  width: 25%;
  font-size: 1.2em;
  padding: 20px 0;
}

.section9 .containerDivForm div button i {
  padding-left: 5px;
}

.divFormSociales i {
  color: var(--colorGris);
  padding-right: 10px;
  font-size: 30px;
}

.textAreaForm {
  height: 80px;
}

/* TERMINA SECTION 9 - FORM */

/* SECTION 10 - FOOTER */
footer {
  background-color: var(--colorSecundario);
  display: flex;
  justify-content: space-between;
}

footer > div {
  margin: 80px var(--marginLeftRight);
  color: aliceblue;
}

footer > div > p {
  font-size: 700;
}

footer > div > p > span {
  text-decoration: underline solid var(--colorPrincipal);
  color: var(--colorPrincipal);
}

.sectionIcon,
a {
  padding-top: 50px;
  color: var(--colorPrincipal);
}

/* TERMINA SECTION 10 - FOOTER */
