/* ROOT - VAR - GENERAL CLASS */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --colorPrincipal: #f4dc4c;
  --colorSecundario: #14141c;
  --colorGris: #4d4d4d;
  --marginLeftRight: 15%;
  --roboto: "Roboto", sans-serif;
  --popins: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.roboto {
  font-family: var(--roboto);
}

.popins {
  font-family: var(--popins);
}

* {
  margin: 0;
  padding: 0;
}

.divTitle {
  text-align: center;
  padding: 50px 0px;
  font-family: var(--popins);
}

.upTitle {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.9em;
}

.upTitleSub {
  background-color: var(--colorPrincipal);
  padding: 1px 8px;
  font-weight: 600;
}

.downTitle {
  font-weight: 600;
  font-size: 2.6em;
  padding-top: 7px;
}

ul li {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--colorSecundario);
  padding: 1px 4px;
}

ul > li > a:hover {
  background-color: var(--colorPrincipal);
}

/* TERMINA ROOT - VAR - GENERAL CLASS */

/* NAVBAR */
.navbar {
  height: 60px;
  width: 100%;
  background-color: aliceblue;
  position: fixed;
  font-family: var(--popins);
}

.sectionNav {
  display: flex;
  margin: 20px var(--marginLeftRight);
  flex-direction: row;
  justify-content: space-between;
}

nav > section > ul {
  display: flex;
}

nav > section > ul > li {
  padding: 0 12px;
  font-weight: bold;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin-left: -3px;
}

h4 {
  font-size: 3em;
  letter-spacing: 1px;
  text-transform: capitalize;
}

ul .iconitoNav a:hover {
  background-color: aliceblue;
  color: var(--colorPrincipal);
}

/* TERMINA NAVBAR */

/* EMPIEZA SECTION DEVELOPER AMARILLO */

section > div > section > hr {
  border: none;
  border-left: 10px solid rgba(172, 172, 10, 0.832);
  height: 4em;
  width: 1px;
  margin: 10px;
}

.divDeveloper {
  display: flex;
}

.sectionAmarillo {
  background-color: var(--colorPrincipal);
}

.section1 {
  padding-top: 60px;
  height: 800px;
  display: flex;
  flex-direction: row;
  margin: 0 var(--marginLeftRight);
}

section > div > section > a {
  padding-left: 10px;
}

section > div > h6 {
  font-size: 0.8em;
  font-weight: 500;
}

.sectionButtons {
  padding-top: 20px;
}

.buttonWorks {
  background-color: var(--colorSecundario);
  border: none;
  color: aliceblue;
  text-align: center;
  padding: 10px 30px;
  font-size: 0.6em;
  cursor: pointer;
}

section > div > section > a {
  color: black;
  font-weight: 700;
  font-size: 0.6em;
}

.section2 {
  align-self: center;
  width: 50%;
  zoom: 1.7;
}

.fotoPerfil {
  border-radius: 50%;
  border: 12px solid white;
  height: 400px;
}

.divFotoPerfil {
  align-self: center;
  width: 50%;
  text-align: end;
}

.flecha {
  margin-top: -30px;
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
}

.aboutMe {
  color: black;
}

/* TERMINA SECTION DEVELOPER AMARILLO */

/* SECTION ABOUT ME */

section > div > p {
  font-size: 1em;
  margin-bottom: 10px;
}

section > div > h3 {
  font-weight: 400;
  margin-bottom: 25px;
}

section > div > h3 > span {
  border-bottom: 3px solid var(--colorPrincipal);
  padding-bottom: 3px;
  font-weight: 700;
}

.sectionAboutMe {
  display: flex;
  flex-direction: row;
  margin: 0 var(--marginLeftRight);
  text-align: justify;
  align-items: center;
}

.sectionBaseline {
  display: flex;
  margin: 0 var(--marginLeftRight);
  text-align: justify;
}

.divAboutMeBaseline {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

section > section > div > p {
  font-weight: 500;
}

.spanEmail {
  text-decoration: underline;
}

section > section > div > span {
  font-weight: 700;
  font-size: 1.2em;
}

.divHi {
  width: 70%;
  font-size: 1.45em;
  font-weight: 400;
}

.divYears {
  width: 30%;
  text-align: center;
}

.number {
  font-size: 8em;
  color: var(--colorGris);
  font-weight: 500;
  margin-bottom: -20px;
}

.hSix {
  font-size: 1.7em;
}

.prueba {
  margin-top: -20px;
}

section > div > h6 > span {
  font-weight: 700;
}

/* FIN SECTION ABOUT ME */

/* SECTION 3 - WHAT I DO? */

.section3 {
  padding-top: 60px;
  text-align: center;
  background-color: whitesmoke;
  font-family: var(--popins);
  padding-bottom: 60px;
}

.divGrid {
  margin: 0 var(--marginLeftRight);
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 4%;
}

.divsProject {
  flex-basis: 30%;
  min-width: 300px;
}

section > div > div > i {
  color: var(--colorPrincipal);
  font-size: 3.5em;
  padding-top: 25px;
}

section > div > div > h6 {
  font-size: 1.6em;
  font-weight: 600;
  padding-top: 20px;
}

section > div > div > p {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--colorGris);
  padding-top: 10px;
}

/* TERMINA SECTION 3 - WHAT I DO? */

/* SECTION 4 - RESUME */
.section4 {
  padding-top: 60px;
}

.contenedorResume {
  margin: 0 var(--marginLeftRight);
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contenedorResume section section div hr {
  border: none;
  border-left: 2px solid var(--colorPrincipal);
  height: 100%;
  padding-right: 15px;
}

.resumeMain {
  display: flex;
}

.myEducationMyExperience {
  width: 50%;
}

.myEducationMyExperience h4 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 25px;
}

.resumeMain section div h5 {
  font-size: 1.34em;
  font-weight: 500;
}

.resumeMain section div h6 {
  font-size: 1.1em;
  padding-top: 5px;
}

.resumeMain section div p {
  padding-top: 10px;
  color: var(--colorGris);
  font-weight: 400;
}

.resumeMain section hr {
  margin: 20px 0px;
  border: 1px outset rgba(255, 255, 255, 0.399);
  width: 90%;
}

.sectionMySkills {
  margin: 0 var(--marginLeftRight);
  font-weight: 600;
}

.sectionMySkills h4 {
  font-size: 2em;
  font-weight: 600;
}

.sectionMySkills section {
  padding-top: 25px;
  display: flex;
}

.sectionMySkills section div {
  width: 50%;
}

.sectionMySkills section div div {
  width: 100%;
  background-color: aliceblue;
  margin-top: 10px;
  border-radius: 10px;
  height: 10px;
  display: flex;
}

.spanSkills {
  background-color: var(--colorPrincipal);
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.barWebDesign .spanSkills {
  width: 65%;
}

.barHtmlCss .spanSkills {
  width: 95%;
}

.barJS .spanSkills {
  width: 80%;
}

.barReact .spanSkills {
  width: 70%;
}

.barAngular .spanSkills {
  width: 60%;
}

.barBootstrap .spanSkills {
  width: 99%;
}

.sectionMySkills section div section {
  justify-content: space-between;
}

.mySkillsDivIzquierdo {
  padding-right: 20px;
}

.mySkillsDivDerecho {
  padding-left: 20px;
}

.divCv {
  margin: 0 var(--marginLeftRight);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.buttonCv {
  background-color: white;
  padding: 12px 40px;
  font-weight: 600;
}

/* TERMINA SECTION 4 - RESUME */

/* SECTION 5 - PORTFOLIO */
.section5 {
  padding-top: 60px;
  background-color: whitesmoke;
}

.divPortfolioImages {
  margin: 0 19.5% 0 var(--marginLeftRight);
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-gap: 3%;
  padding-bottom: 100px;
}

.divPortfolioImages img {
  width: 100%;
}

/* TERMINA SECTION 5 - PORTFOLIO */

/* SECTION 6 - INTERESTED IN WORKING? */

.section6 {
  background-image: url(../images/image1.jpg);
  padding: 40px 0;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section6 div {
  text-align: center;
}

.section6 div h2 {
  font-size: 2em;
  font-weight: 600;
  color: white;
  padding-bottom: 20px;
}

.section6 div button {
  color: var(--colorSecundario);
  background-color: #f4dc4c;
  font-weight: 600;
  font-size: 0.8em;
}

/* TERMINA SECTION 6 - INTERESTED IN WORKING? */

/* SECTION 7 - FAQ */
/* .section7{
    padding-top: 60px;
} */
/* TERMINA SECTION 7 - FAQ */

/* SECTION 8 - HOW I CAN HELP */

/* .section8{
    background-color: var(--colorGris);
}

.section8 .divTitle .downTitle{
    color: white;
} */

/* TERMINA SECTION 8 - HOW I CAN HELP */

/* SECTION 9 - FORM */
.section9 {
  background-color: var(--colorPrincipal);
}

.containerDivForm {
  margin: 0 var(--marginLeftRight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 0;
}

.divIzquierdoForm {
  width: 50%;
}

.divDerechoForm {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section9 .containerDivForm div h2 {
  font-size: 2.2em;
  font-weight: 600;
  padding-bottom: 30px;
}

.section9 .containerDivForm div p {
  width: 70%;
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 20px;
}

.section9 .containerDivForm div h6 {
  font-size: 1.2em;
  font-weight: 700;
}

.section9 .containerDivForm div h5 {
  padding-bottom: 20px;
  font-weight: 400;
}

.section9 .containerDivForm div input {
  background-color: var(--colorPrincipal);
  border: none;
  border-bottom: 1px outset rgba(255, 255, 255, 0.399);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.section9 .containerDivForm div button {
  background-color: var(--colorSecundario);
  color: white;
  width: 25%;
  font-size: 1.2em;
  padding: 20px 0;
}

.section9 .containerDivForm div button i {
  padding-left: 5px;
}

.divFormSociales i {
  color: var(--colorGris);
  padding-right: 10px;
  font-size: 30px;
}

.textAreaForm {
  height: 80px;
}

/* TERMINA SECTION 9 - FORM */

/* SECTION 10 - FOOTER */
footer {
  background-color: var(--colorSecundario);
  display: flex;
  justify-content: space-between;
}

footer > div {
  margin: 80px var(--marginLeftRight);
  color: aliceblue;
}

footer > div > p {
  font-size: 700;
}

footer > div > p > span {
  text-decoration: underline solid var(--colorPrincipal);
  color: var(--colorPrincipal);
}

.sectionIcon,
a {
  padding-top: 50px;
  color: var(--colorPrincipal);
}

/* TERMINA SECTION 10 - FOOTER */

/* media queries */

@media (max-width: 1525px) {
  .liNav {
    display: none;
  }

  .sectionAmarillo {
    padding-bottom: 50px;
  }

  .section1 {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    padding-top: 40px;
  }

  .divFotoPerfil {
    padding: 40px 0;
    width: auto;
  }

  .fotoPerfil {
    height: 300px;
  }

  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .divDeveloper {
    justify-content: center;
    clip-path: inset(50% 0 0 0);
    margin-top: -30px;
    font-size: 0.8em;
  }

  .section2 h2 {
    font-weight: 400;
  }

  @media (max-width: 1050px) {
    .divYears {
      width: auto;
    }

    .sectionAboutMe {
      flex-direction: column;
      text-align: center;
      margin: 0 20px;
    }

    .sectionBaseline {
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    .sectionBaseline div {
      width: 50%;
      padding: 20px 0;
      margin: 0 0;
    }

    .contenedorResume {
      flex-direction: column;
      align-content: flex-start;
      flex-wrap: wrap;
      padding: 0 0;
    }

    .myEducationMyExperience {
      width: 100%;
    }

    .section4 .contenedorResume section {
      padding-bottom: 20px;
    }

    .divPortfolioImages {
      grid-template-columns: repeat(2, 50%);
    }

    .containerDivForm {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .divIzquierdoForm {
      width: auto;
    }

    .divDerechoForm {
      width: 100%;
      text-align: left;
    }

    .divDerechoForm h2 {
      text-align: center;
    }

    .section9 .containerDivForm div p {
      width: auto;
    }

    .section9 .containerDivForm div button {
      align-self: center;
    }

    .divFormSociales {
      padding-bottom: 30px;
    }

    footer {
      flex-direction: column;
      align-items: center;
      padding: 60px 0;
    }

    footer div {
      margin: 0 0;
      padding: 10px 0;
    }

    .sectionIcon {
      padding: 0 0;
    }
  }

  @media (max-width: 600px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .navbar .sectionNav {
      margin: 0 10px;
      justify-content: space-between;
    }

    .navbar .sectionNav h3 {
      font-size: 1.8em;
    }

    .navbar .sectionNav ul {
      align-items: center;
    }

    .section1 .section2 h2 {
      font-size: 1em;
    }

    .section1 .section2 .divDeveloper {
      font-size: 0.5em;
      margin: 0 0;
      clip-path: none;
    }

    .section1 .section2 .divDeveloper hr {
      margin: 0 0;
      height: 5em;
    }

    .sectionButtons {
      display: flex;
      padding-top: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .sectionButtons button {
      padding: 10px 10px;
    }

    .sectionButtons a {
      padding: 0 0;
    }

    .sectionAboutMe {
      margin: 0 0;
    }

    .sectionBaseline {
      margin: 0 0;
      margin-left: 10px;
    }

    .divTitle {
      margin: 0 10px;
    }

    .divGrid {
      margin: 0 0;
    }

    .divsProject {
      flex-basis: auto;
      padding-bottom: 20px;
    }

    .divsProject i {
      font-size: 2.5em;
    }

    .contenedorResume {
      margin: 0 10px;
    }

    .sectionMySkills {
      margin: 0 10px;
    }

    .sectionMySkills section {
      flex-direction: column;
    }

    .sectionMySkills section div {
      width: 100%;
    }

    .mySkillsDivDerecho {
      padding: 0 0;
    }

    .divPortfolioImages {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      padding-bottom: 10px;
    }

    .divPortfolioImages img {
      padding-bottom: 10px;
    }

    .containerDivForm {
      margin: 0 10px;
    }

    .divDerechoForm h2 {
      margin: 0 10px;
    }

    .section9 .containerDivForm div button {
      width: 50%;
      background-color: var(--colorGris);
    }
  }
}
