/* NAVBAR */
.navbar {
  height: 6dvh;
  min-height: 20px;
  background-color: aliceblue;
  position: static;
  font-family: var(--popins) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionNav {
  display: flex;
  margin: 0 var(--marginLeftRight);
  flex-direction: row;
  justify-content: space-between;
}

nav > section > ul {
  display: flex;
}

nav > section > ul > li {
  padding: 0 12px;
  font-weight: bold;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin-left: -3px;
}

h4 {
  font-size: 3em;
  letter-spacing: 1px;
  text-transform: capitalize;
}

ul .iconitoNav a:hover {
  background-color: aliceblue;
  color: var(--colorPrincipal);
}

/* TERMINA NAVBAR */
