html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --colorPrincipal: #f4dc4c;
  --colorSecundario: #14141c;
  --colorGris: #4d4d4d;
  --marginLeftRight: 15%;
  --roboto: "Roboto", sans-serif;
  --popins: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.roboto {
  font-family: var(--roboto);
}

.popins {
  font-family: var(--popins);
}

* {
  margin: 0;
  padding: 0;
}

.divTitle {
  text-align: center;
  padding: 50px 0px;
  font-family: var(--popins);
}

.upTitle {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.9em;
}

.upTitleSub {
  background-color: var(--colorPrincipal);
  padding: 1px 8px;
  font-weight: 600;
}

.downTitle {
  font-weight: 600;
  font-size: 2.6em;
  padding-top: 7px;
}

ul li {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--colorSecundario);
  padding: 1px 4px;
}

ul > li > a:hover {
  background-color: var(--colorPrincipal);
}

/* media queries */

@media (max-width: 1525px) {
  .liNav {
    display: none;
  }

  .sectionAmarillo {
    padding-bottom: 50px;
  }

  .section1 {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 40px;
    height: auto;
  }

  .divFotoPerfil {
    padding: 40px 0;
    width: auto;
  }

  .fotoPerfil {
    height: 300px;
  }

  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .divDeveloper {
    justify-content: center;
    clip-path: inset(40% 0 0 0);
    margin-top: -25px;
    font-size: 0.8em;
  }

  .section2 h2 {
    font-weight: 400;
  }

  @media (max-width: 1050px) {
    .divYears {
      width: auto;
    }

    .aboutMe {
      height: auto;
    }

    .sectionAboutMe {
      flex-direction: column;
      text-align: center;
      margin: 0 20px;
    }

    .sectionBaseline {
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    .sectionBaseline div {
      width: 50%;
      padding: 20px 0;
      margin: 0 0;
    }

    .contenedorResume {
      flex-direction: column;
      align-content: flex-start;
      flex-wrap: wrap;
      padding: 0 0;
    }

    .myEducationMyExperience {
      width: 100%;
    }

    .section4 .contenedorResume section {
      padding-bottom: 20px;
    }

    .divPortfolioImages {
      grid-template-columns: repeat(2, 50%);
    }

    .containerDivForm {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .divIzquierdoForm {
      width: auto;
    }

    .divDerechoForm {
      width: 100%;
      text-align: left;
    }

    .divDerechoForm h2 {
      text-align: center;
    }

    .section9 .containerDivForm div p {
      width: auto;
    }

    .section9 .containerDivForm div button {
      align-self: center;
    }

    .divFormSociales {
      padding-bottom: 30px;
    }

    footer {
      flex-direction: column;
      align-items: center;
      padding: 60px 0;
    }

    footer div {
      margin: 0 0;
      padding: 10px 0;
    }

    .sectionIcon {
      padding: 0 0;
    }

    .flecha {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .navbar .sectionNav {
      margin: 0 10px;
      justify-content: space-between;
    }

    .navbar .sectionNav h3 {
      font-size: 1.8em;
    }

    .navbar .sectionNav ul {
      align-items: center;
    }

    .section1 .section2 h2 {
      font-size: 1em;
    }

    .section1 .section2 .divDeveloper {
      font-size: 0.5em;
      margin: 0 0;
      clip-path: none;
    }

    .section1 .section2 .divDeveloper hr {
      margin: 0 0;
      height: 5em;
    }

    .sectionButtons {
      display: flex;
      padding-top: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .sectionButtons button {
      padding: 10px 10px;
    }

    .sectionButtons a {
      padding: 0 0;
    }

    .sectionAboutMe {
      margin: 0 0;
    }

    .sectionBaseline {
      margin: 0 0;
      margin-left: 10px;
    }

    .divTitle {
      margin: 0 10px;
    }

    .divGrid {
      margin: 0 0;
    }

    .divsProject {
      flex-basis: auto;
      padding-bottom: 20px;
    }

    .divsProject i {
      font-size: 2.5em;
    }

    .contenedorResume {
      margin: 0 10px;
    }

    .sectionMySkills {
      margin: 0 10px;
    }

    .sectionMySkills section {
      flex-direction: column;
    }

    .sectionMySkills section div {
      width: 100%;
    }

    .mySkillsDivDerecho {
      padding: 0 0;
    }

    .divPortfolioImages {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      padding-bottom: 10px;
    }

    .divPortfolioImages img {
      padding-bottom: 10px;
    }

    .containerDivForm {
      margin: 0 10px;
    }

    .divDerechoForm h2 {
      margin: 0 10px;
    }

    .section9 .containerDivForm div button {
      width: 50%;
      background-color: var(--colorGris);
    }

    .modal-content {
      zoom: 1;
    }
  }
}
