html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --colorPrincipal: #f4dc4c;
  --colorSecundario: #14141c;
  --colorGris: #4d4d4d;
  --marginLeftRight: 15%;
  --roboto: "Roboto", sans-serif;
  --popins: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.roboto {
  font-family: var(--roboto);
}

.popins {
  font-family: var(--popins);
}

* {
  margin: 0;
  padding: 0;
}

.divTitle {
  text-align: center;
  padding: 50px 0px;
  font-family: var(--popins);
}

.upTitle {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.9em;
}

.upTitleSub {
  background-color: var(--colorPrincipal);
  padding: 1px 8px;
  font-weight: 600;
}

.downTitle {
  font-weight: 600;
  font-size: 2.6em;
  padding-top: 7px;
}

ul li {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--colorSecundario);
  padding: 1px 4px;
}

ul > li > a:hover {
  background-color: var(--colorPrincipal);
}
