/* SECTION ABOUT ME */
.aboutMe {
  height: 100dvh;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section > div > p {
  font-size: 1em;
  margin-bottom: 10px;
}

section > div > h3 {
  font-weight: 400;
  margin-bottom: 25px;
}

section > div > h3 > span {
  border-bottom: 3px solid var(--colorPrincipal);
  padding-bottom: 3px;
  font-weight: 700;
}

.sectionAboutMe {
  display: flex;
  flex-direction: row;
  margin: 0 var(--marginLeftRight);
  text-align: justify;
  align-items: center;
}

.sectionBaseline {
  display: flex;
  margin: 0 var(--marginLeftRight);
  text-align: justify;
  margin-top: 50px;
}

.divAboutMeBaseline {
  width: 100%;
}

section > section > div > p {
  font-weight: 500;
}

.spanEmail {
  text-decoration: underline;
}

section > section > div > span {
  font-weight: 700;
  font-size: 1.2em;
}

.divHi {
  width: 70%;
  font-size: 1.45em;
  font-weight: 400;
}

.divYears {
  width: 30%;
  text-align: center;
}

.number {
  font-size: 8em;
  color: var(--colorGris);
  font-weight: 500;
}

.hSix {
  font-size: 1.7em;
}

section > div > h6 > span {
  font-weight: 700;
}

/* FIN SECTION ABOUT ME */
